---
import Word from "../components/Word.astro";
import Layout from "../layouts/Layout.astro";
import Launch from "../assets/icons/launch.svg";
import { Image } from "astro:assets";
const boardTop = [
	{
		name: "Yicheng Yang",
		title: "Founder & President",
		image: "Yicheng Yang Exec.png",
	},
	{
		name: "Yiyi Yang",
		title: "Vice-President",
		image: "Yiyi Yang Exec Photo.JPG",
	},
];

const board = [
	{
		name: "Ayden Leung",
		title: "Design Manager",
		image: "Ayden Leung Exec.png",
	},
	{
		name: "Alisa Du",
		title: "Social Media Manager",
		image: "Alisa Du Exec.jpeg",
	},
	{
		name: "Ben Fung",
		title: "Head Tutor",
		image: "Ben Fung Exec.jpg",
	},
	{
		name: "Jane Wang",
		title: "Operations Manager",
		image: "Jane Wang Exec Photo.jpeg",
	},
];

const tutors = [
	{
		name: "Emad Badei",
		title: "Biology Tutor",
		image: "Emad Badei Tutor.jpeg",
	},
	{
		name: "James Lin",
		title: "English Tutor",
		image: "James Lin Tutor.JPG",
	},
	{
		name: "Hyobeen Ahn",
		title: "Math Tutor",
		image: "Hyobeen Ahn Tutor.jpg",
	},
	{
		name: "Matt Chong",
		title: "Physics Tutor",
		image: "Matt Chong Tutor.jpg",
	},
	{
		name: "Gillian Xie",
		title: "English Tutor",
		image: "Gillian Xie Tutor.jpeg",
	},
	{
		name: "Emma Jia",
		title: "English Tutor",
		image: "Emma Jia Tutor.jpeg",
	},
	{
		name: "Ayesha Klair",
		title: "Biology Tutor",
		image: "Ayesha Klair Tutor.jpeg",
	},
	{
		name: "Darius Gao",
		title: "English Tutor",
		image: "Darius Gao Tutor.jpeg",
	},
	{
		name: "Anushka Mukherjee",
		title: "Math/ English Tutor",
		image: "Anushka Mukherjee Tutor.jpeg",
	},
	{
		name: "Amir Shekari",
		title: "Math Tutor",
		image: "Amir Shekari Tutor.jpeg",
	},
	{
		name: "Mike Zhang",
		title: "English Tutor",
		image: "Mike Zhang Tutor.jpeg",
	},
	{
		name: "Lucy Dong",
		title: "Math Tutor",
		image: "Lucy Dong.jpeg",
	},
	{
		name: "Anna Yang",
		title: "English Tutor",
		image: "Anna Yang Tutoring Photo.jpeg",
	},
	{
		name: "Amber Zhang",
		title: "Math Tutor",
		image: "Amber Zhang Tutoring Photo.jpeg",
	},
	{
		name: "Iny Yu",
		title: "English Tutor",
		image: "Iny Yu Tutor.jpeg",
	},
	{
		name: "Amy Lu",
		title: "English Tutor",
		image: "Amy Lu Tutor.png",
	},
	{
		name: "Chloe Fu",
		title: "English Tutor",
		image: "Chloe Fu Tutor.jpg",
	},
];

const images = import.meta.glob<{ default: ImageMetadata }>("../assets/img/team/*", { eager: true });

const imageFor = (name: string) => images[`../assets/img/team/${name}`].default;
---

<Layout>
	<div class="title">
		<Word><h1>Meet Our <em>Dedicated</em> Team</h1></Word>
		<Word delay={1}
			><p class="subtitle">
				The Pacific Education Network’s team are core contributors to the cause of free, accessible, and personalized
				tutoring. Without the hard work and dedication from them, our society would not be the same as it is today.
			</p></Word
		>
	</div>
	<div class="spacer"></div>
	<section class="name-section">
		<h2>Executive Board</h2>
		<p>
			Meet the executives who keep our society thriving! From providing administrative services, scheduling courses,
			marketing, and ensuring student satisfaction, these individuals are the people who have shaped the Pacific Education
			Network’s success.
		</p>
		<div class="board-grid-top">
			{
				boardTop.map(x => (
					<div class="grid-item board-top-item">
						<div class="portrait-image">
							<Image src={imageFor(x.image)} alt={x.name} inferSize />
						</div>
						<h3 class="name">{x.name}</h3>
						<p class="title">{x.title}</p>
					</div>
				))
			}
		</div>
		<div class="board-grid">
			{
				board.map(x => (
					<div class="grid-item board-item">
						<div class="portrait-image">
							<Image src={imageFor(x.image)} alt={x.name} inferSize />
						</div>
						<h3 class="name">{x.name}</h3>
						<p class="title">{x.title}</p>
					</div>
				))
			}
		</div>
	</section>
	<div class="spacer"></div>
	<section class="name-section">
		<h2>Tutors</h2>
		<p>
			Meet our hardworking tutors who bring Pacific Education Network’s free teaching to life! From publishing resources,
			ensuring consistency, creating opportunities for growth, and fostering genuine connection, these hardworking
			individuals are the reason why the Pacific Education Network is able to empower individuals students in their
			pursuit of knowledge.
		</p>
		<div class="tutor-grid">
			{
				tutors.map(x => (
					<div class="grid-item tutor-item">
						<div class="portrait-image">
							<Image src={imageFor(x.image)} alt={x.name} inferSize />
						</div>
						<h3 class="name">{x.name}</h3>
						<p class="title">{x.title}</p>
					</div>
				))
			}
		</div>
	</section>

	<style>
		.spacer {
			height: 6em;
		}
		.title {
			margin-top: 0.5em;
			font-family: var(--font-montserrat);
			text-align: center;
			display: flex;
			flex-direction: column;
			h1 {
				font-size: 2rem;
			}
			.subtitle {
				font-family: var(--font-glacial);
				max-width: 60em;
			}
		}
		.name-section {
			h2 {
				text-align: center;
				font-family: var(--font-montserrat);
				font-size: 1.6em;
				margin-bottom: 0.5em;
			}
			p {
				text-align: center;
			}
			> p {
				max-width: 60em;
				margin: 0 auto;
			}
		}
		.board-grid-top,
		.board-grid,
		.tutor-grid {
			display: grid;
			max-width: 80em;
			margin: 0 auto;
			padding-top: 2em;
			gap: 3em;
			width: fit-content;
		}
		.board-grid-top {
			grid-template-columns: repeat(2, 1fr);
		}
		.board-grid {
			grid-template-columns: repeat(4, 1fr);
		}
		.tutor-grid {
			grid-template-columns: repeat(4, 1fr);
		}
		.grid-item {
			text-align: center;
			line-height: 1.1;
			.portrait-image {
				aspect-ratio: 16 / 20;
				background-color: black;
				border: 2px white solid;
				border-radius: 0.8em;
				margin-bottom: 0.5em;
				img {
					display: block;
					width: 100%;
					height: 100%;
					border-radius: 0.8em;
					object-fit: cover;
					object-position: center center;
				}
			}
			.name {
				margin: 0;
				font-size: 1em;
				font-family: var(--font-montserrat);
			}
			.title {
				margin: 0;
				font-family: var(--font-glacial);
			}
		}
		.board-top-item {
			.portrait-image {
				aspect-ratio: 1 / 1;
			}
			width: 13em;
		}
		.board-item {
			width: 10em;
		}
		.tutor-item {
			width: 11em;
		}
	</style>
</Layout>
